body,html{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

/* ---HEADER--- */

nav{
    padding: 5%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
}

/* ------------ */


/* ---MAIN--- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0%;
    padding: 8%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}


h2 {
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2rem;
    color: white;
}
h3 {
    margin-top: 2%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 3rem;
    color: white;
}

p {
    
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2rem;
    color: white;
}
a{
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}
small{
    margin: 1%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
/* --------- */


/* Formulaire */

label{
    text-align: center;
    padding:7%;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
form{
    margin: 3%;
    border: solid 6px rgb(0, 0, 0);
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
select{
    text-align: center;
    box-shadow: none;
    font-size: 1.2em;
}

input[type="date"]{
    background-color: #ffffff;
    padding: 10px;
    font-family: "Roboto Mono",monospace;
    color: #000000;
    font-size: 18px;
    border: none;
    outline: none;
}


/* Tableau */
table{
    margin: 3%;
    border-collapse: collapse;
    border: solid 1px white;
    background-color: #0000006f;

}
th{
    border: solid 1px white;
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;
    color: white;

}
td{
    border: solid 1px white;

    color: white;

}

/* ----- */
#editelement{
    text-align: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editelement{
    text-align: center;
    width: 100%;
}

.button{
    margin-top: 7%;
padding: 10px 20px;
background-color: white;
color: black;


}

/* FOOTER */

footer{
    margin: 2% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imgfooter{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imgfooter{
    width: 5vw;
    margin: 0% 1%;
}
.pfooter{
    text-align: center;
    margin: 2% 10%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 0.7rem;
}











/* SPECIAL // IMPLEMENTATION */

#backgroundreservation-form{
    background-image: url(../assets/img/bk_1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#backgroundplanning {
    background-image: url(../assets/img/bk_2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.bk_font{
    background-image: url(../assets/img/bk_font.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
.bk_font2{
    padding: 10% 0%;
    background-image: url(../assets/img/bk_font2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
.bk_font3{
    padding: 7% 10%;
    background-image: url(../assets/img/bk_font3.png);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: right;
    
    
}
video{
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    object-position: fixed;
}

.td_reserved{
    background-image: url(../assets/img/bk_td_edited.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
